    {{#unless this.nosectionheading}}
    <h3 class="section-heading">
      {{this.abstract.title}}
    </h3>
    {{/unless}}
    
    <div>
    <div class="abstract">
      {{markdown this.abstract.abstract}}
    </div>
    </div>
