<div class="header">
  <h1>joel h. w. weinberger</h1>
  <h3>wedding</h3>
</div>

<div class="content">

<!-- Begin page content here -->

<div>
  On May 30th, 2010, my wonderful wife, Sarah, and I were married at her
  family's ranch in Westlake Village, CA, just outside of Los Angeles. It
  was a beautiful, sunny, Southern Californian day and an even more
  beautiful occasion. The ceremony was a traditional Jewish wedding,
  preceded by speeches by both the bride and groom to their respective
  wedding parties. The ceremony was followed by an evening of dancing and
  singing and eating under the setting California sun.
</div>

<br />

<div>
  A day after the wedding, Sarah and I took off on a honeymoon to Italy,
  where we visited Venice, Florence, Tuscany, Umbria, the Amalfi Coast,
  and Rome. We had an amazing time. If you would like to see some photos
  from the honeymoon, please look
  <a href="http://www.flickr.com/photos/metromoxie/sets/72157624953047064">
  here</a>.
</div>

<div id="homelink"><a href="index">[home]</a></div>

<!-- end page content here -->

</div>
