html {
    border: solid white;
    border-bottom: none;
}

body {
    margin: 0px auto;
    padding: 100px 0 50px 0;
    background-color: #fff1db;
    width: 700px;
}

div.content{
	margin-top: 10px;
 	height: 100%;
	overflow: auto;
}

.image-center {
    text-align: center;
}
