body {
    background-color: #999999;
    margin: 0 auto;
    width: 800px;
    padding-top: 10px;
}

div.content {
    background-color: #cccccc;
    padding: 10px 20px 0px 20px;
}

.image-center {
    text-align: center;
}
