div.header {
    background-color: #666699;
	color: black;
  	text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

div.header > h1 {
    margin-bottom: 0;
	font-size: 20pt;
}

div.header > h3 {
    margin: 0;
	font-size: 12pt;
}
