div.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;

	background: #ffee66;
	color: black;

	text-align: center;
}

div.header>div.headertext{
	font-size: 20pt;
}

div.header>div.subheadertext{
	font-size: 12pt;
}

div.content{
	margin-top: 10px;
 	height: 100%;
	overflow: auto;
}

div.headertext{
	margin-top: 25px;
}
