.closed .toggle {
    background-image: url(images/toggle-closed.png);
    background-repeat: no-repeat;
}

.open .toggle {
    background-image: url(images/toggle-open.png);
    background-repeat: no-repeat;
}

#details {
    display: none;
}
