.toggle {
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: center left;
}

.closed .toggle {
    background-image: url(images/toggle-closed.png);
}

.open .toggle {
    background-image: url(images/toggle-open.png);
}
