---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Hello World">
  <header class="hero">
    <div class="container">
      <h1>Hello, World!</h1>
    </div>
  </header>
</BaseLayout>
