a.image-link img {
    border: none;
    margin-top: 10px;
}

.index-links {
    text-align: center;
}

.index-links a {
    text-decoration: none;
    font-size: 100%;
    color: #000000;
}

.index-links a:hover {
    color: #004fff;
}

.index-text {
    margin: 0px auto;
    text-align: left;
    font-size: 100%;
}

.index-papers-header {
    font-size: 100%;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 3px;
    font-weight: bold;
}

ul.index-papers-list {
    font-size: 100%;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

ul.index-papers-list li {
    margin-bottom: 10px;
}

.paper {
}

.paper-title {
}

.paper-authors {
}

.paper-authors a {
    text-decoration: underline;
    color: #000000;
}

.paper-authors a:hover {
}

.paper-conference {
    font-style: italic;
}

.paper-notes {
}

.paper-presentation {
}

.paper-bibtex {
  font-family: monospace;
}

.paper-bibtex-entry {
    padding-left: 60px;
    text-indent: -40px;
}

.paper .toggle {
    color: blue;
}

.paper .toggle:hover {
    cursor: pointer;
}

.toggle {
    text-decoration: none;
}

.paper-abstract-toggle .toggle {
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: center left;
}

.closed.paper-abstract-toggle .toggle {
    background-image: url(images/toggle-closed.png);
}

.open.paper-abstract-toggle .toggle {
    background-image: url(images/toggle-open.png);
}
