    {{define "body"}}
	{{if not .NoLayout}}
    <h3 class="section-heading">
	  {{.Title}}
    </h3>
	{{end}}
    
    <div>
    <div class="bibtex" class="bibtex-entry">
      <div>@inproceedings{ {{.Paper.Proceedings}},</div>
      <div class="bibtex-entry-line">
	    author = { {{.AuthorList}} },
      </div>
      <div class="bibtex-entry-line">
        title = { {{.Paper.Title}} },
      </div>
	  {{if .Paper.Booktitle}}
      <div class="bibtex-entry-line">
        booktitle = { {{.Paper.Booktitle}} },
      </div>
      {{end}}
	  {{if .Paper.Institution}}
      <div class="bibtex-entry-line">
        institution = { {{.Paper.Institution}} },
      </div>
      {{end}}
      <div class="bibtex-entry-line">
        year = { {{.Paper.Year}} },
      </div>
	  {{if .Paper.Url}}
      <div class="bibtex-entry-line">
        url = { {{.Paper.Url}} },
      </div>
      {{end}}
	  {{if .Paper.Number}}
      <div class="bibtex-entry-line">
        number = { {{.Paper.Number}} },
      </div>
      {{end}}
      <div>}</div>
    </div>
    </div>
    {{end}}
	{{if .NoLayout}}
	{{template "body" .}}
	{{end}}
