	<div class="image-left">
      <img src="img/joel-weinberger-headshot.jpg"
	    width="225px" height="300px"
        title="Photo of Joel by Steve Hanna"
        alt="Photo of Joel Weinberger"/>
    </div>

	<div class="index-text">
	    Most recently, I was a security engineer at <a href="https://snap.com/">Snap</a>.
	</div>

	<br />

	<div>
	  Formerly, I was a software engineer at <a
	  href="https://www.google.com/">Google</a> working on the <a
	  href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> browser
	  <a href="http://www.chromium.org/Home/chromium-security">security</a>
	  team. I primarily worked on <a
	  href="https://www.chromium.org/Home/chromium-security/owp">Web Platform
	  Security</a>, but I also was strongly interested in <a
	  href="http://www.chromium.org/Home/chromium-security/enamel"> usable
	  security</a>.  Check out my <a
	  href="https://codereview.chromium.org/search?closed=1&owner=jww%40chromium.org&reviewer=&cc=&repo_guid=&base=&private=1&commit=1&created_before=&created_after=&modified_before=&modified_after=&order=&format=html&keys_only=False&with_messages=False&cursor=&limit=30">Chromium
	  contributions</a> and the <a
	  href="https://code.google.com/p/chromium/issues/list?can=1&q=owner%3Ajww&colspec=ID+Pri+M+Iteration+ReleaseBlock+Cr+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=tiles">bugs
	  I own</a>.
    </div>

	<br />

	<div class="index-text">
	  I am a <a href="http://www.berkeley.edu/">University of California,
	  Berkeley</a> Ph.D. graduate from the <a
	  href="http://www.eecs.berkeley.edu/">Computer Science Department</a>,
	  where I focused in security, programming languages, software
	  engineering, and the intersection thereof.  I was advised by <a
	  href="http://www.cs.berkeley.edu/~dawnsong/">Dawn Song</a>.  My graduate
	  research mainly focused on making the <a
	  href="http://en.wikipedia.org/wiki/Internet">Web</a> a <a
	  href="http://www.masterlock.com">safer</a> place. Check out <a
	  href="http://webblaze.cs.berkeley.edu/">WebBlaze</a> for more like-minded
	  folk.
    </div>
    
    <br />
    
    <div class="index-text">
      During the summer of 2012, I interned at
      <a href="http://www.coverity.com">Coverity</a> to work on static analysis
      tool research for web security.
      In the prior summer, 2011, I was a research intern at
      <a href="http://research.microsoft.com/">Microsoft Research</a>.
      While at Microsoft, I worked in the
      <a href="http://research.microsoft.com/en-us/groups/rise/default.aspx">Research in Software Engineering (RiSE)</a>
      group with Juan Chen,
      <a href="http://research.microsoft.com/en-us/um/people/livshits/">Ben Livshits</a>,
      and <a href="http://research.microsoft.com/en-us/people/nswamy/">Nikhil Swamy</a>.
    </div>
    
    <br />
    
    <div class="index-text">
      Previously, I earned a B.S. and a M.S. from 
      <a href="http://www.brown.edu">Brown University</a>.
      From 2007 to 2008, I worked in the 
      <a href="https://blogs.oracle.com/fishworks/">Fishworks</a>
      group at Sun Microsystems. For posterity's sake, you can view my
	  <a href="brown-cs-website/index.html">old Brown University undergraduate
	  home page</a>.
    </div>
    
    <br />
    
    <div class="index-text">
      In the past, I was a teaching assistant for
      <a href="http://www.cs.berkeley.edu/~dawnsong/teaching/s12-cs161/">cs161</a>,
      the undergraduate computer security course, under my adviser, Professor Dawn Song.
      In the spring of 2010, I was also a teaching assistant for
      <a href="http://www-inst.eecs.berkeley.edu/~cs161/sp10/">the same course</a>,
      but as taught by professors
      <a href="http://icir.org/vern/">Vern Paxson</a> and
      <a href="http://www.cs.berkeley.edu/~daw/">David Wagner</a>.
    </div>
    
    <br />
    
    <div class="index-text">
      I used to love using
      <a href="http://www.archlinux.org/">Arch Linux</a> for its
      minimalist approach and awesome
      <a href="http://www.archlinux.org/pacman/">package management</a> system
      (and
      <a href="https://wiki.archlinux.org/index.php/Yaourt">related tools</a>).
      However, I've since switched to
      <span class="strike">FreeBSD</span>
      <a href="http://www.ubuntu.com/">Ubuntu</a> with
      <span class="strike"><a href="http://zfsonlinux.org/">ZFS on
      Linux</a></span> encrypted LVM on RAID1. I love ZFS, and the ZFS on
      Linux project is wonderful, but I ran into enough issues over 4 years that
      I finally gave up using it on my home machine. However, I did work on the
      <a href="https://github.com/mfinifter/zfs-toolbox">zfs toolbox</a>.
    </div>
    
    <br />
    
    <div class="index-text">
	  You can view a <a href="wedding">retrospective on my nuptials</a>.
      When I'm not doing research, I
      <a href="http://halhigdon.com/training/51135/Marathon-Training-Guide/">run</a>,
      <a href="http://www.touchstoneclimbing.com">rock climb</a>,
      <a href="http://www.kirkwood.com">ski</a>,
      <a href="http://www.flickr.com/photos/metromoxie">take photos</a>,
      <a href="http://www.sweetmarias.com/index.php">roast coffee</a>,
      and
      <a href="http://www.rimviewdancestudio.com/pictures/Savion Glover.jpg">tap dance</a>.
      I am also working on my
      <a href="http://www.akhlah.com/aleph_bet/aleph-bet.php">Hebrew</a>,
      but it currently leaves much to be desired.
    </div>
    
    <div class="center-elt">
    
    <h3>
    <a href="publications">publications</a>
    <a href="http://blog.joelweinberger.us/">blog</a>
    </h3>
    
    <div class="index-links">
      <a href="resume.pdf">[résumé]</a> |
      <a href="https://twitter.com/metromoxie">[@metromoxie]</a> |
      <a href="https://github.com/joelweinberger">[github]</a> |
      <a href="calendar">[calendar]</a>
    </div>
    
    <div>
      <a class="image-link" href="http://www.ci.newark.nj.us/">
        <img width="350px" height="222px" src="img/greetings from newark.jpg"
           alt="Greetings from Newark, NJ!"
           title="Greetings from Newark, NJ!" />
      </a>
    </div>

    <div class="index-small">
      View and download
      <a href="https://www.github.com/metromoxie/personal-website/">the source</a>
      for this site on GitHub.
    </div>
