<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>

    {{#each ExtraMeta}}
    <meta name="{{Description}}" content="{{Content}}"></meta>
    {{/each}}

	{{#each ExtraCSS}}
    <link rel="stylesheet" type="text/css" href="{{this}}"></link>
	{{/each}}

	<script src="/components/webcomponentsjs/webcomponents.js"></script>
	<script src="/components/es6-promise/promise.js"></script>
	<script src="/components/fetch/fetch.js"></script>
	<script src="/js/register-sw.js"></script>

	{{#each ExtraScripts}}
    <script type="text/javascript" src="{{this}}"></script>
	{{/each}}

    <title>{{Title}}</title>
  </head>

  <body>
  	{{#if Header}}
    <div class="header">
      <h1>joel h. w. weinberger</h1>
      <h3>{{Header}}</h3>
    </div>
	{{/if}}

	{{#unless NoContent}}<div class="content">{{/unless}}
    {{> body}}
	{{#unless NoHomeLink}}<div id="homelink"><a href="/index.html">[home]</a></div>{{/unless}}
	{{#unless NoContent}}</div>{{/unless}}
  </body>

  <!-- begin Google Analytics -->
  <!-- script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-12698994-1");
    pageTracker._trackPageview();
  } catch(err) {}
  </script -->
  <!-- end Google Analytics -->
</html>
