    {{define "body"}}
    {{$Authors := .Pubs.Authors}}
    {{$Papers := .Pubs.Papers}}
    {{$Techs := .Pubs.Techs}}

	<link rel="import" href="/components/iron-collapse/iron-collapse.html"></link>

	<h5 class="index-papers-header">
      Refereed Publications
    </h5>
    
    <ul class="index-papers-list">
      {{range $index, $paper := .Pubs.Papers}}
      <li class="index-text">
        <div id="pub{{$index}}" class="paper"> <!-- pub div -->
    
        <div> <!-- paper info div -->
        <span class="paper-title">
        {{if $paper.Path}}
        <a href="{{$paper.Path}}">{{$paper.Title}}.</a>
        {{else}}
		{{$paper.Title}}
        {{end}}
        </span>
    
        <span class="paper-authors">
		  {{range $authorIndex := $paper.Authors}}
		  {{$author := index $Authors $authorIndex}}
		  {{if $author.Homepage}}
		  <a href="{{$author.Homepage}}">{{$author.Name}}</a>
		  {{else}}
		  {{$author.Name}}
		  {{end}}{{end}}
        </span>
    
        {{if $paper.Conference}}
        <span class="paper-conference">{{$paper.Conference}}</span>.
        </div> <!-- end paper info div -->
        {{end}}
    
        <div> <!-- citation div -->
        {{if $paper.Extended}}
        <span class="paper-extended">
          <a href="{{$paper.Extended}}">[Extended Version]</a>
        </span>
        {{end}}
        {{if $paper.Citeseer}}
        <span class="paper-citeseer">
          <a href="{{$paper.Citeseer}}">[CiteSeer]</a>
        </span>
        {{end}}
    
        <div id="pub{{$index}}-bibtex-toggle" class="paper-bibtex-toggle" data-pub="pub{{$index}}">
          <a id="pub{{$index}}-bibtex" href="bibtexs/pub{{$index}}">[BibTeX]</a>
	      <iron-collapse id="pub{{$index}}-bibtex-collapse">
          <div id="pub{{$index}}-bibtex-entry" class="bitex-content start-hidden"></div>
		  </iron-collapse>
        </div>
        </div> <!-- end citation div -->
    
        {{if $paper.Notes}}
        <!-- paper notes div -->
        <div class="paper-notes">
          {{markdown $paper.Notes}}
        </div>
        <!-- end paper notes div -->
		{{end}}
    
        {{if $paper.Presentation}}
        <!-- presentation div -->
        <div class="paper-presentation">
          {{markdown $paper.Presentation}}
        </div>
        <!-- end presentation div -->
        {{end}}
    
        <div> <!-- abstract div -->
        <div class="paper-abstract">
          <a id="pub{{$index}}-abstract" class="icon closed paper-abstract-toggle" href="abstracts/pub{{$index}}" data-pub="pub{{$index}}">Abstract</a>
	      <iron-collapse id="pub{{$index}}-abstract-collapse">
          <div id="pub{{$index}}-abstract-entry" class="abstract-content start-hidden"></div>
		  </iron-collapse>
        </div>
        </div> <!-- end abstract div -->
    
        </div> <!-- end pub div -->
      </li>
      {{end}}
    
    </ul>
    
    <h5 class="index-papers-header">
      Non-Refereed Papers
    </h5>
    
    <ul class="index-papers-list">
	  {{range $index, $paper := .Pubs.Techs}}
      <li class="index-text">
        <div id="tech{{$index}}" class="paper"> <!-- tech div -->
    
        <div> <!-- paper info div -->
        <span class="paper-title">
        {{if $paper.Path}}
        <a href="{{$paper.Path}}">{{$paper.Title}}.</a>
        {{else}}
        {{$paper.Title}}
        {{end}}
        </span>
    
        <span class="paper-authors">
		  {{range $authorIndex := $paper.Authors}}
		  {{$author := index $Authors $authorIndex}}
		  {{if $author.Homepage}}
		  <a href="{{$author.Homepage}}">{{$author.Name}}</a>
		  {{else}}
		  {{$author.Name}}
		  {{end}}{{end}}
        </span>
    
        {{if $paper.Conference}}
        <span class="paper-conference">{{$paper.Conference}}</span>.
        </div> <!-- end paper info div -->
        {{end}}
    
        <div> <!-- citation div -->
        {{if $paper.Citeseer}}
        <span class="paper-citeseer">
          <a href="{{$paper.Citeseer}}">[CiteSeer]</a>
        </span>
        {{end}}
    
        <div id="tech{{$index}}-bibtex-toggle" class="paper-bibtex-toggle" data-pub="tech{{$index}}">
          <a id="tech{{$index}}-bibtex" href="bibtexs/tech{{$index}}">[BibTeX]</a>
	      <iron-collapse id="tech{{$index}}-bibtex-collapse">
          <div id="tech{{$index}}-bibtex-entry" class="bibtex-content start-hidden"></div>
		  </iron-collapse>
        </div>
        </div> <!-- end citation div -->
    
        <div> <!-- abstract div -->
        <div class="paper-abstract">
          <a id="tech{{$index}}-abstract" class="icon closed paper-abstract-toggle" href="abstracts/tech{{$index}}" data-pub="tech{{$index}}">Abstract</a>
	      <iron-collapse id="tech{{$index}}-abstract-collapse">
          <div id="tech{{$index}}-abstract-entry" class="abstract-content start-hidden"></div>
		  </iron-collapse>
        </div>
        </div> <!-- end abstract div -->
    
        </div> <!-- end tech div -->
      </li>
      {{end}}
    </ul>
	{{end}}
