<link rel="import" href="/components/iron-collapse/iron-collapse.html"></link>

<h5 class="index-papers-header">
  Refereed Publications
</h5>

<ul class="index-papers-list">
  {{#each Pubs.papers}}
  <li class="index-text">
    <div id="pub{{@index}}" class="paper"> <!-- pub div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    {{#if pdf}}
    <a href="{{pdf}}">{{title}}.</a>
    {{else}}
	{{title}}
    {{/if}}
    </span>

    <span class="paper-authors">
	  {{#each authorObjects}}
	  {{#if homepage}}
	  <a href="{{homepage}}">{{name}}</a>
	  {{else}}
	  {{name}}
	  {{/if}}{{/each}}
    </span>

    {{#if conference}}
    <span class="paper-conference">{{conference}}</span>.
    </div> <!-- end paper info div -->
    {{/if}}

    <div> <!-- citation div -->
    {{#if extended}}
    <span class="paper-extended">
      <a href="{{extended}}">[Extended Version]</a>
    </span>
    {{/if}}
    {{#if citeseer}}
    <span class="paper-citeseer">
      <a href="{{citeseer}}">[CiteSeer]</a>
    </span>
    {{/if}}

	{{#unless nobibtex}}
    <div id="pub{{@index}}-bibtex-toggle" class="paper-bibtex-toggle" data-pub="pub{{@index}}">
      <a id="pub{{@index}}-bibtex" href="#" data-type="bibtex">[BibTeX]</a>
      <iron-collapse id="pub{{@index}}-bibtex-collapse">
      <div id="pub{{@index}}-bibtex-entry" class="bibtex-content">
        <div class="bibtex" class="bibtex-entry">
          <div>@inproceedings{ {{proceedings}},</div>
          <div class="bibtex-entry-line">
            author = { {{authorList}} },
          </div>
          <div class="bibtex-entry-line">
            title = { {{title}} },
          </div>
          {{#if booktitle}}
          <div class="bibtex-entry-line">
            booktitle = { {{booktitle}} },
          </div>
          {{/if}}
          {{#if institution}}
          <div class="bibtex-entry-line">
            institution = { {{institution}} },
          </div>
          {{/if}}
          <div class="bibtex-entry-line">
            year = { {{year}} },
          </div>
          {{#if url}}
          <div class="bibtex-entry-line">
            url = { {{url}} },
          </div>
          {{/if}}
          {{#if number}}
          <div class="bibtex-entry-line">
            number = { {{number}} },
          </div>
          {{/if}}
          <div>}</div>
        </div>
      </div>
	  </iron-collapse>
    </div>
	{{/unless}}
    </div> <!-- end citation div -->

    {{#if notes}}
    <!-- paper notes div -->
    <div class="paper-notes">
      {{{markdown notes}}}
    </div>
    <!-- end paper notes div -->
	{{/if}}

    {{#if presentation}}
    <!-- presentation div -->
    <div class="paper-presentation">
      {{{markdown presentation}}}
    </div>
    <!-- end presentation div -->
    {{/if}}

	{{#if abstract}}
    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="pub{{@index}}-abstract" class="icon closed paper-abstract-toggle" href="#" data-pub="pub{{@index}}" data-type="abstract">Abstract</a>
      <iron-collapse id="pub{{@index}}-abstract-collapse">
      <div id="pub{{@index}}-abstract-entry" class="abstract-content">
        <div class="abstract">
          {{{markdown abstract}}}
        </div>
      </div>
	  </iron-collapse>
    </div>
    </div> <!-- end abstract div -->
	{{/if}}

    </div> <!-- end pub div -->
  </li>
  {{/each}}


</ul>

<h5 class="index-papers-header">
  Non-Refereed Papers
</h5>

<ul class="index-papers-list">
  {{#each Pubs.techs}}
  <li class="index-text">
    <div id="tech{{@index}}" class="paper"> <!-- tech div -->

    <div> <!-- paper info div -->
    <span class="paper-title">
    {{#if pdf}}
    <a href="{{pdf}}">{{title}}.</a>
    {{else}}
    {{title}}
    {{/if}}
    </span>

    <span class="paper-authors">
	  {{#each authorObjects}}
	  {{#if homepage}}
	  <a href="{{homepage}}">{{name}}</a>
	  {{else}}
	  {{name}}
	  {{/if}}{{/each}}
    </span>

    {{#if conference}}
    <span class="paper-conference">{{conference}}</span>.
    </div> <!-- end paper info div -->
    {{/if}}

    <div> <!-- citation div -->
    {{#if citeseer}}
    <span class="paper-citeseer">
      <a href="{{citeseer}}">[CiteSeer]</a>
    </span>
    {{/if}}

	{{#unless nobibtex}}
    <div id="tech{{@index}}-bibtex-toggle" class="paper-bibtex-toggle" data-pub="tech{{@index}}">
      <a id="tech{{@index}}-bibtex" href="#" data-type="bibtex">[BibTeX]</a>
      <iron-collapse id="tech{{@index}}-bibtex-collapse">
      <div id="tech{{@index}}-bibtex-entry" class="bibtex-content">
        <div class="bibtex" class="bibtex-entry">
          <div>@inproceedings{ {{proceedings}},</div>
          <div class="bibtex-entry-line">
            author = { {{authorList}} },
          </div>
          <div class="bibtex-entry-line">
            title = { {{title}} },
          </div>
          {{#if booktitle}}
          <div class="bibtex-entry-line">
            booktitle = { {{booktitle}} },
          </div>
          {{/if}}
          {{#if institution}}
          <div class="bibtex-entry-line">
            institution = { {{institution}} },
          </div>
          {{/if}}
          <div class="bibtex-entry-line">
            year = { {{year}} },
          </div>
          {{#if url}}
          <div class="bibtex-entry-line">
            url = { {{url}} },
          </div>
          {{/if}}
          {{#if number}}
          <div class="bibtex-entry-line">
            number = { {{number}} },
          </div>
          {{/if}}
          <div>}</div>
        </div>
      </div>
	  </iron-collapse>
    </div>
	{{/unless}}
    </div> <!-- end citation div -->

	{{#if abstract}}
    <div> <!-- abstract div -->
    <div class="paper-abstract">
      <a id="tech{{@index}}-abstract" class="icon closed paper-abstract-toggle" href="#" data-pub="tech{{@index}}" data-type="abstract">Abstract</a>
      <iron-collapse id="tech{{@index}}-abstract-collapse">
      <div id="tech{{@index}}-abstract-entry" class="abstract-content">
        <div class="abstract">
          {{{markdown abstract}}}
        </div>
      </div>
	  </iron-collapse>
    </div>
    </div> <!-- end abstract div -->
	{{/if}}

    </div> <!-- end tech div -->
  </li>
  {{/each}}
</ul>
