a.image-link img {
	border: none;
	margin-top: 10px;
}

.index-links {
	text-align: center;
}

.index-links a {
	text-decoration: none;
	font-size: 100%;
	color: #000000;
}

.index-links a:hover {
	color: #004fff;
}

.index-text {
	margin: 0px auto;
	text-align: left;
	font-size: 100%;
}

h5.index-papers-header {
	margin-top: 13px;
	margin-bottom: 3px;
}

ul.index-papers-list {
	font-size: 100%;
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}

ul.index-papers-list li {
	margin-bottom: 10px;
}

.paper {
}

.paper-title {
	font-weight: bold;
}

.paper-title a {
	text-decoration: none;
}

.paper-title a:visited {
}

.paper-authors {
}

.paper-authors a {
	text-decoration: underline;
	color: #000000;
}

.paper-authors a:hover {
}

.paper-conference {
	font-style: italic;
}

.paper-notes {
}

.paper-presentation {
}

.paper .toggle {
	color: blue;
}

.paper .toggle:hover {
	cursor: pointer;
}

.toggle {
	text-decoration: none;
}

.icon.toggle {
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: center left;
}

.closed.icon.toggle {
	background-image: url(images/toggle-closed.png);
}

.open.icon.toggle {
	background-image: url(images/toggle-open.png);
}

h5.index-paragraph-header {
	margin-bottom: 10px;
}

.paper-citeseer a {
	text-decoration: none;
}

.paper-bibtex-toggle {
	display: inline;
}
