body {
	background-color: #999999;
	margin: 0 auto;
	width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.content {
	background-color: #cccccc;
	padding: 10px 20px 10px 20px;

	/*
	 * border radius properties are going to be in CSS3, but Firefox (-moz) and
	 * Safari (-webkit) have working implementations at this point.
	 *
	 * Of note, these properties will NOT validate as proper CSS.
	 */
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-radius-bottomleft: 1em;
	border-radius-bottomright: 1em;
}

.center-elt {
	text-align: center;
}

.image-left {
	float: left;
	margin-right: 20px;
}

h5 {
	font-size: 100%;
	text-align: center;
	font-weight: bold;
}

.hidden {
	display: none;
}

.initialized .start-hidden {
	display: none;
}

#homelink {
	text-align: center;
}

.section-heading {
	text-align: center;
}

.bibtex-entry {
  font-family: monospace;
}

.bibtex-entry-line {
	padding-left: 60px;
	text-indent: -40px;
}

.code {
	font-family: monospace;
}

.strike {
	text-decoration: line-through;
}

.no-dec-link {
	text-decoration: none;
}

div.abstract p {
  display: inline;
}

.abstract-content {
  padding-left: 5px;
  padding-right: 5px;
}

.bibtex-content {
  padding-left: 5px;
  padding-right: 5px;
}
