div.header {
	/*background-color: #666699;*/
	background-color: #70709f;
	color: black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;

	border-top-left-radius: 1em;
	border-top-right-radius: 1em;

}

div.header > h1 {
	margin-bottom: 0;
	font-size: 175%;
}

div.header > h3 {
	margin: 0;
	font-size: 100%;
}
